body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.google-plus {
    background: #d34836;
    color: white;
    padding: 30px;
}

.facebook {
    background: #3b5998;
    color: white;
    padding: 30px;
}

.twitter {
    background: #0084b4;
    color: white;
    padding: 30px;
}
